* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
  font-weight: bold;
}
body {
  background-image: url("../images/fondo4.jpg");
  background-attachment: fixed;
}
/* header cabecera*/
header {
  padding: 5px 2px;
  background-color: cornflowerblue;
}
header nav img {
  border-radius: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  color: crimson;
}
/* barra de navegacion */
nav ul {
  float: right;
  padding-top: 15px;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding: 5px 15px;
}
nav img {
  max-width: 80px;
}
.contactos {
  text-align: center;
  padding: 30px;
}
div h2 {
  padding: 20px;
}
/*---- pagina de formularios----*/
form {
  padding: auto;
}
form fieldset {
  border-radius: 30px;
  background-color: rgba(167, 133, 155, 0.582);
  text-align: center;
}
form fieldset legend {
  font-size: 20px;
  padding: 10px;
}
input {
  font-size: 20px;
  border-radius: 5px;
}
textarea {
  font-size: 15px;
  border-radius: 10px;
}
button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
label {
  font-size: 20px;
}
#terminos {
  padding: 20px;
  font-size: 20px;
}
/* pie de pagina */
footer {
  background-color: gray;
}
footer div h2 {
  color: honeydew;
  font-size: 20px;
  text-align: center;
}
footer div ul {
  text-align: center;
}
footer div ul li {
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
}
footer div ul li a {
  color: honeydew;
}
footer p {
  color: lavenderblush;
  font-size: 18px;
  text-align: center;
}
.fab {
  font-size: 40px;
}
/*  */
