* {
  margin: 0;
  padding: 0;
}
.body {
  background: linear-gradient(to left top, #a3e9e9, #447976f8);
}
/* --Cabecera de la paginas-- */
.navbar-nav {
  margin-left: auto;
}
.navbar-brand img {
  padding-left: 10px;
  border-radius: 10px 30px / 30px 40px;
}
.navbar-fondo {
  background-color: #0c7572;
}
.navbar-brand img:hover {
  transform: scale(1.3);
  transition: 3s;
}
.nav-item {
  text-transform: uppercase;
}
.nav-item:hover {
  border-radius: 6px;
  background-color: #034574;
  transition: 3s;
}

/* Pagina de contactos */

.container {
  justify-content: center;
  padding-top: 90px;
}
.contactos-form {
  background-color: rgba(206, 241, 241, 0.733);
  padding: 20px 60px;
  border: 0.2px azure solid;
  border-radius: 20px;
}
h2 {
  padding-left: 20px;
}
.enlace {
  text-transform: uppercase;
  text-decoration: none;
}

/* Footer de la pagina */

.footer-fondo {
  background: linear-gradient(to left, #a6b4b4f8, #2c7573f8);
}
.footer-item {
  width: 60px;
  list-style: none;
}
.fab:hover {
  color: tomato;
}
.fab {
  color: white;
  font-size: 35px;
}
