/* --Reseteo CSS--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* --font-style- general-- */
  font-style: italic;
  /* --font-weight-- */
  font-weight: bold;
  /* --font-family-- */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.body {
  /* -- background-image-- */
  background-image: url("../images/turqueza1.jpg");
  background-attachment: fixed;
}
/* header cabecera*/
/* header cabecera*/
.header {
  position: sticky;
  top: 0px;
}
.menu {
  /* --background-color -- */
  background-color: cornflowerblue;
}
.header__titulo {
  display: inline-block;
  margin-left: 10px;
}
.logo {
  /* -- Estilo borde -- */
  border-radius: 10px / 30px;
  max-width: 80px;
}
/* --menu de navegacion */
.listas {
  padding-top: 25px;
  float: right;
}
.item {
  display: inline-block;
  padding: 15px 15px;
}
.item:hover {
  color: crimson;
}
.item__inicio,
.item__acerca,
.item__contacto,
.item__galeria,
.item__proyectos {
  /* -- text-decoration-none -- */
  text-decoration: none;
}
/*---- pagina de formularios----*/
.contactos {
}
.contactos__titulo {
  text-align: center;
}
.contactos__formulario {
  /* padding: auto; */
}
.contactos__control {
  position: relative;
  margin: auto;
  width: 500px;
  text-align: center;
  border-radius: 30px;
  /* --background-color -- */
  background-color: rgba(167, 133, 155, 0.4);
}
.contactos__leyenda {
  font-size: 20px;
  padding: 10px;
}
.contactos__input {
  font-size: 20px;
  border-radius: 5px;
}
.contactos__textarea {
  font-size: 15px;
  border-radius: 10px;
}
.contactos__boton {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.contactos__label {
  font-size: 20px;
}
#terminos {
  padding: 20px;
  font-size: 20px;
}
/* pie de pagina */
.footer {
  background-color: gray;
}
.footer__contenedor {
}
.redes_sociales {
  color: honeydew;
  font-size: 20px;
  text-align: center;
}
.footer__lista {
  text-align: center;
}
.footer__item {
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
}
.fab:hover {
  color: crimson;
}
.fab {
  color: honeydew;
  font-size: 35px;
}
.footer__text {
  color: lavenderblush;
  font-size: 18px;
  text-align: center;
}
