/* -- Reseteo CSS-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* --font-style- general-- */
  font-style: italic;
  /* --font-weight-- */
  font-weight: bold;
  /* --font-family-- */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.body {
  /* -- background-image-- */
  background-image: url("../images/turqueza1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* header cabecera*/
/* header cabecera*/
.header {
  position: sticky;
  top: 0px;
}
.menu {
  /* --background-color -- */
  background-color: #4e95f1;
}
.header__titulo {
  display: inline-block;
  margin-left: 10px;
}
.logo {
  /* -- Estilo border-radius-elipce -- */
  border-radius: 10px 30px / 30px 40px;
  max-width: 80px;
  padding: 3px;
}
/* --menu de navegacion */
.listas {
  padding-top: 25px;
  float: right;
}
.item {
  display: inline-block;
  padding: 15px 15px;
}
.item:hover {
  color: crimson;
}
.item__inicio,
.item__acerca,
.item__contacto,
.item__galeria,
.item__proyectos {
  /* -- text-decoration-none -- */
  text-decoration: none;
}
/*---- pagina de flexbox----*/
.contenedor__padre {
  background-color: beige;
  padding-left: 20px;
  padding-top: 5px;
  width: 800px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.contenedor__imagen1,
.contenedor__imagen2,
.contenedor__imagen3,
.contenedor__imagen4,
.contenedor__imagen5,
.contenedor__imagen6,
.contenedor__imagen7,
.contenedor__imagen8,
.contenedor__imagen9,
.contenedor__imagen10 {
  margin: 5px;
  background-color: gainsboro;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
}
.contenedor__imagen1--titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contenedor__imagen1--img,
.contenedor__imagen2--img,
.contenedor__imagen3--img,
.contenedor__imagen4--img,
.contenedor__imagen5--img,
.contenedor__imagen6--img,
.contenedor__imagen7--img,
.contenedor__imagen8--img,
.contenedor__imagen9--img,
.contenedor__imagen10--img {
  padding: 20px;
  width: 100px;
  height: 60px;
}
.contenedor__imagen1--text {
  display: flex;
  flex-direction: column-reverse;
}

/* pie de pagina */
.footer {
  background-color: #2c7573dc;
}
.footer__contenedor {
}
.redes_sociales {
  color: honeydew;
  font-size: 20px;
  text-align: center;
}
.footer__lista {
  text-align: center;
}
.footer__item {
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
}
.fab:hover {
  color: crimson;
}
.fab {
  color: honeydew;
  font-size: 35px;
}
.footer__text {
  color: lavenderblush;
  font-size: 18px;
  text-align: center;
}
