* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
  font-weight: bold;
}
body {
  background-image: url("../images/turqueza1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* header cabecera*/
header {
  padding: 5px 2px;
  background-color: cornflowerblue;
}
header nav img {
  border-radius: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  color: crimson;
}
/* barra de navegacion */
nav ul {
  float: right;
  padding-top: 15px;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding: 5px 15px;
}
nav img {
  max-width: 80px;
}
/*---- pagina de tablas----*/

table {
  text-align: center;
  width: 90%;
  height: 100%;
}

table h3 {
  padding: 20px;
  font-size: 35px;
}
table td img {
  border-radius: 20px;
  max-width: 200px;
  max-height: 200px;
}
table td iframe {
  border-radius: 20px;
  max-width: 200px;
  max-height: 200px;
}
table tr th {
  padding: 20px;
}
/* pie de pagina */
footer {
  background-color: gray;
}
footer div h2 {
  color: honeydew;
  font-size: 20px;
  text-align: center;
}
footer div ul {
  text-align: center;
}
footer div ul li {
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
}
footer div ul li a {
  color: honeydew;
}
footer p {
  color: lavenderblush;
  font-size: 18px;
  text-align: center;
}
.fab {
  font-size: 40px;
}
