* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
  font-weight: bold;
}
div {
  background-color: blanchedalmond;
  text-align: center;
}
table td img {
  border-radius: 20px;
}
table td iframe {
  border-radius: 20px;
}
table th {
  padding: 15px;
  font-size: 20px;
}
div h2 {
  padding: 20px;
  font-size: 20px;
}
table td {
  padding: 15px;
  font-size: 15px;
}
