* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: italic;
  font-weight: bold;
}

/*---- cabecera de pagina---*/
header {
  padding: 5px 2px;
  background-color: cornflowerblue;
}
header nav img {
  border-radius: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  color: crimson;
}
/* barra de navegacion */
nav ul {
  float: right;
  padding-top: 15px;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding: 5px 15px;
}
nav img {
  max-width: 80px;
}
/*---- pagina principal ----*/
.acercademi {
  height: 100vh;
}
.acercademi img {
  max-width: 200px;
}
div {
  text-align: center;
}
div h1 {
  font-size: 25px;
  color: crimson;
  text-align: center;
  padding: 15px 10px;
}
div img {
  border-radius: 50px;
  margin: auto;
  display: block;
}
div p {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
strong {
  color: crimson;
}
/* pie de pagina */
footer {
  background-color: gray;
}
footer div h2 {
  color: honeydew;
  font-size: 20px;
  text-align: center;
}
footer div ul {
  text-align: center;
}
footer div ul li {
  display: inline-block;
  padding: 15px 15px;
  text-align: center;
}
footer div ul li a {
  color: honeydew;
}
footer p {
  color: lavenderblush;
  font-size: 18px;
  text-align: center;
}
.fab {
  font-size: 40px;
}
